.asml-header {
    width: 200px;
    height: 60px;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 100%;
}

p {
    margin: 0;
    color: var(--gray-700);
    line-height: 2;
    padding: 1px;
}