<head>
    <title>Work Experience</title>
</head>

<body>
    <main class="content-wrapper">
        <h1>Working experience</h1>
        <div class="work-container-button-group">
            <button
                (click)="switchSection('amat')"
                [class.active]="activeSection === 'amat'"
                class="logo-button"
            >
                Applied Materials
            </button>

            <button
                (click)="switchSection('asml')"
                [class.active]="activeSection === 'asml'"
            >
                ASML
            </button>

            <button
                (click)="switchSection('education')"
                [class.active]="activeSection === 'education'"
            >
                Education Background
            </button>

        </div>
        <div class="content-display">
            <app-amat *ngIf="activeSection === 'amat'"></app-amat>
            <app-asml *ngIf="activeSection === 'asml'"></app-asml>
            <app-education *ngIf="activeSection === 'education'"></app-education>
        </div>
    </main>
</body>


