.amat-header {
    width: 200px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 50px;
    max-width: 100%;
}

.amat-work-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "left right";
    gap: 5px;
    padding: 5px;

}
.left-side-work-container {
    grid-area: left;
}
.right-side-work-container {
    grid-area: right;
}
.amat-work-project {
    text-align: left;
}

.certificate-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.12);
}

.read-more {
    padding-top: 20px;
}

p {
    margin: 0;
    color: var(--gray-700);
    line-height: 2;
    padding: 1px;
}